:root {
    --toolbar-color: lightgray;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #467fcc;
}

#map {
    height: calc(100% - 52px);
    width: 100%;
    image-rendering: pixelated;
}

.mouseposition {
    background-color: white;
    padding: 3px;
    text-align: right;
}

.mousepositioncoord {
    min-width: 40px;
    display: inline-block;
}

div.ol-mouse-position {
    background-color: white;
    padding: 6px;
    border-radius: 3px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

/************************************
            MY CSS
************************************/

#toolbar {
    text-align: center;
    padding: 10px;
    background-color: var(--toolbar-color);
    border-bottom: black 1px solid;
}

#logo_alpha {
    position: absolute;
    left: -10px;
    top: -5px;
    width: 75px;
    margin: 0px;
}

#search {
    width: 30%;
    height: 25px;
}

.btn {
    height: 30px;
}

.btn:hover {
    cursor: pointer;
}

.ol-zoom button {
    height: 50px;
    width: 50px;
}

.ol-zoom button:hover {
    cursor: pointer;
}

.block {
    background-color: var(--toolbar-color);
    padding: 10px;
}

#results {
    display: none;
    border-bottom: black 1px solid;
}

ul#results-list {
    text-align: center;
    list-style-type: none;
    margin: 0px;
}

#results-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    width: fit-content;
    margin-top: 5px;
}

li.result-item {
    padding-right: 10px;
    padding-left: 10px;
    background-color: darkgray;
    border-radius: 15px;
    border: black 1px solid;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

li.result-item:hover {
    background-color: dimgray;
    cursor: pointer;
    transition-property: padding-right, padding-left, color, border-radius;
    transition-duration: 0.5s;
    /* padding-right: 100px;
    padding-left: 100px; */
    border-radius: 0px;
}

li.other-results {
    margin: auto;
}

#settings {
    display: none;
    border-top: black 1px solid;
    margin-top: 10px;
}

.setting_item {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: inline-block;
}